@charset "UTF-8";
@font-face {
  font-family: 'gilroy-normal', sans-serif;
  src: url("../../fonts/gilroy-regular.eot");
  src: local("☺"), url("../../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy-regular.woff") format("woff"), url("../../fonts/gilroy-regular.ttf") format("truetype"), url("../../fonts/gilroy-regular.svg#PT Serif") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-bold', sans-serif;
  src: url("../../fonts/gilroy-bold.eot");
  src: local("☺"), url("../../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy-bold.woff") format("woff"), url("../../fonts/gilroy-bold.ttf") format("truetype"), url("../../fonts/gilroy-bold.svg#PT Serif") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: calc(14px + 10 * ((100vw - 320px) / 1440));
}

body, html {
  background-color: #F8FFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'gilroy-bold', sans-serif;
  font-weight: bold;
  color: #1E959B;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(30px + 3.4 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(32px + 2 * (100vw / 1440));
  }
}

p, a {
  font-family: 'gilroy-normal', sans-serif;
  text-decoration: none;
  color: #3C3C3C;
  line-height: 17px;
}

@media (max-width: 767px) {
  p, a {
    font-size: calc(14px + 0 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  p, a {
    font-size: calc(14px + 0 * (100vw / 1440));
  }
}

ul, li {
  font-family: 'gilroy-normal', sans-serif;
}

@media (max-width: 767px) {
  ul, li {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  ul, li {
    font-size: calc(20px + 6 * (100vw / 1440));
  }
}

.telegram, .mail, .phone {
  display: flex;
  align-items: center;
  color: #1E959B;
}

.telegram-svg, .mail-svg, .phone-svg {
  fill: #1E959B;
}

.phone {
  font-weight: 700;
}

.phone-svg {
  padding-right: 1em;
}

button.owl-next:hover, button.owl-prev:hover, .slick-arrow:hover {
  opacity: 0.5;
}

.slick-prev, .slick-next {
  display: none;
}

.button {
  text-align: center;
  box-shadow: 0px 5px 10px #1e959b;
  padding: 25px 25px;
  margin-right: 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #F05670;
  border-radius: 1.1em;
  box-sizing: border-box;
  font-weight: 700;
  border: none;
  transition-duration: .3s;
}

@media (max-width: 767px) {
  .button {
    font-size: calc(14px + 0 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  .button {
    font-size: calc(14px + 0 * (100vw / 1440));
  }
}

.button:hover {
  color: #1E959B;
  background-color: #FFFFFF;
  transform: translateY(0px);
  border-color: #ffffff;
}

.active-item {
  opacity: 0.7;
}

@keyframes bounce {
  15% {
    transform: translateY(9px);
  }
  30% {
    transform: translateY(-9px);
  }
  40% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(-6px);
  }
  65% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  background-color: #F8FFFF;
  height: 100vh;
}

.header-hidden {
  position: static;
  visibility: hidden;
  height: 15vh;
}

.header-menu {
  position: fixed;
  background-color: #F8FFFF;
  width: 100%;
  z-index: 10;
  top: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 15vh;
  justify-content: space-around;
}

.header-menu .wrapper {
  align-items: center;
}

.header-menu .wrapper .button {
  font-weight: 400;
  line-height: 18px;
  padding: 23px 40px;
  height: 65px;
}

.header-menu-logo {
  margin-left: 2.5em;
}

.header-menu-logo-img {
  max-width: 15em;
  min-height: 3.75em;
}

.header-menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-menu-list-item {
  padding-right: 4em;
}

.header-menu-list-item:hover {
  animation: bounce 1.5s ease;
  animation-iteration-count: 1;
}

.header-menu-mobile {
  max-width: 30%;
}

.header-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 55px;
  height: 60vh;
}

.header-main-info {
  max-width: 360px;
  margin-top: 70px;
}

.header-main-info-headtext {
  margin-top: 0;
  margin-bottom: 0;
}

.header-main-info-text {
  margin-top: 16px;
  margin-bottom: 50px;
}

.header-main-info-button {
  display: flex;
  justify-content: baseline;
}

.header-companies {
  display: flex;
  align-items: center;
  background-color: #1E959B;
  height: 18vh;
}

.header-companies-slider {
  padding: 20px 0;
  position: relative;
}

.header-companies-slider button.owl-prev, .header-companies-slider button.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border: none;
  background: inherit;
}

.header-companies-slider button.owl-prev {
  left: 5px;
}

.header-companies-slider button.owl-next {
  right: 5px;
}

.header-companies-slider button.owl-prev i, .header-companies-slider button.owl-next i {
  color: #F8FFFF;
}

.header-companies-slider_image img {
  margin: 0 auto;
  max-width: 100%;
}

.header-case {
  text-align: center;
  padding-bottom: 60px;
}

.header-case button.owl-dot {
  background-color: #1E959B;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 100px;
  margin-top: 17px;
}

.header-case button.owl-dot:last-child {
  margin-right: 0;
}

.header-case button.owl-dot.active {
  opacity: 0.5;
}

.header-case button.owl-prev, .header-case button.owl-next {
  position: absolute;
  margin-top: 16px;
  border: none;
  background: inherit;
}

.header-case button.owl-prev {
  left: 415px;
}

.header-case button.owl-next {
  right: 415px;
}

.header-case button.owl-prev i, .header-case button.owl-next i {
  color: #1E959B;
}

.header-case .owl-item img {
  width: 50% !important;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-prev {
  left: 25px;
  z-index: 5;
  transform: scaleX(-1);
  top: 40%;
}

.slick-prev::before {
  content: '';
}

.slick-next {
  right: 25px;
}

.slick-next::before {
  content: '';
}

.advantages {
  padding-top: 60px;
  border-radius: 30px;
  padding-bottom: 60px;
}

.advantages-menu {
  text-align: center;
}

.advantages .owl-carousel {
  position: relative;
  display: none;
}

.advantages .owl-carousel button.owl-prev, .advantages .owl-carousel button.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border: none;
  background: inherit;
}

.advantages .owl-carousel button.owl-prev {
  left: 5px;
}

.advantages .owl-carousel button.owl-next {
  right: 5px;
}

.advantages .owl-carousel button.owl-prev i, .advantages .owl-carousel button.owl-next i {
  color: #1E959B;
}

.advantages .owl-carousel_image img {
  margin: 0 auto;
  max-width: 100%;
}

.advantages .slick-slider .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 5px;
  color: #1E959B;
}

.advantages .slick-slider .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #1E959B;
}

.advantages-slider {
  position: relative;
}

.advantages-slider button.owl-prev, .advantages-slider button.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border: none;
  background: inherit;
}

.advantages-slider button.owl-prev {
  left: 5px;
}

.advantages-slider button.owl-next {
  right: 5px;
}

.advantages-slider button.owl-prev i, .advantages-slider button.owl-next i {
  color: #1E959B;
}

.advantages-block {
  display: flex;
  padding: 0px 25px;
  margin-right: 30px;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  width: 160px;
}

.advantages-block:hover {
  box-shadow: 0px 10px 20px -5px #1e959b;
  transition: box-shadow 0.3s ease-in-out;
}

.advantages-block:last-child {
  margin-right: 0;
}

.advantages-block-img {
  text-align: center;
  margin: 27px auto 0;
}

.advantages-block-text {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  white-space: nowrap;
}

.advantages-block.active {
  background-color: transparent;
  filter: none;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%) !important;
  box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5) !important;
  border-radius: 25px !important;
  cursor: default;
}

.advantages-tab-link {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  padding-bottom: 30px;
  cursor: pointer;
  background-color: #dddddd;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%) !important;
  box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px !important;
}

.advantage-block {
  display: none;
}

.advantage-block_flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.advantage-block_image {
  max-width: 400px;
  text-align: center;
}

.advantage-block_image .button_mob {
  display: none;
}

.advantage-block_image img {
  max-width: 80%;
  padding-top: 25px;
}

.advantage-block_info {
  padding-top: 50px;
  max-width: 400px;
}

.advantage-block_info_header {
  margin: 0;
  margin-bottom: 30px;
}

.advantage-block_info_text {
  margin-bottom: 45px;
  text-align: left;
}

.advantage-block.block-active {
  display: block;
}

.owl-stage {
  display: flex;
  align-items: center;
}

.owl-item img {
  width: 60% !important;
}

.disabled {
  opacity: 0.5;
}

.projects {
  margin-bottom: 120px;
}

.projects-header {
  text-align: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.projects-list button.owl-prev, .projects-list button.owl-next {
  position: absolute;
  top: 115%;
  margin-top: -10px;
  border: none;
  background: inherit;
}

.projects-list button.owl-prev {
  left: 5px;
}

.projects-list button.owl-next {
  right: 5px;
}

.projects-list button.owl-prev i, .projects-list button.owl-next i {
  color: #1E959B;
}

.projects-list-item {
  margin-right: 60px;
  margin-bottom: 25px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  box-shadow: 0px 10px 10px -5px #1e959b;
  border-radius: 25px;
}

.projects-list-item_img {
  object-fit: cover;
  padding-top: 25px;
  max-width: 80%;
}

@media (max-width: 767px) {
  .projects-list-item_header {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  .projects-list-item_header {
    font-size: calc(16px + 2 * (100vw / 1440));
  }
}

.projects-list-item_text {
  padding: 0 45px;
}

.projects-list-item:hover {
  box-shadow: 0px 10px 20px -5px #1e959b;
  transition: box-shadow 0.3s ease-in-out;
}

.projects-list-item:nth-child(3), .projects-list-item:last-child {
  margin-right: 0;
}

.projects-case {
  background-color: #1E959B;
  min-height: 380px;
  margin-bottom: 120px;
}

.projects-case-wrp {
  position: relative;
}

.projects-case_block {
  max-width: 500px;
  margin-left: 150px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.projects-case_block_headertext, .projects-case_block_text {
  color: #F8FFFF;
}

.projects-case_block_text {
  margin-bottom: 30px;
}

.projects-case_block_button {
  display: block;
}

.projects-case_block_button .button {
  font-weight: normal;
  background-color: #F8FFFF;
  color: #1E959B;
  padding: 25px 25px;
  font-weight: 700;
}

.projects-case_block_button .button:hover {
  opacity: 0.8;
}

.projects-case_image {
  position: absolute;
  top: -68px;
  right: -40px;
}

.projects-case_image img {
  max-width: 690px;
}

.projects-case_mob {
  display: none;
}

.projects-mob_img {
  display: none;
}

.projects-button {
  display: block;
  text-align: center;
  max-width: 150px;
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 25px 60px;
  border: 1px solid #1E959B;
  color: #1E959B;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

.projects-button:hover {
  opacity: 0.7;
}

.banner {
  position: relative;
}

.banner .circle-top {
  position: absolute;
  opacity: 0.5;
  background-color: #1E959B;
  border-radius: 9px 9px 93px 90px;
  height: 55px;
  z-index: 2;
  width: 98px;
  left: 50px;
}

.banner .circle-left_bottom {
  position: absolute;
  background-color: #1E959B;
  border-radius: 0 87px 87px 0;
  height: 87px;
  z-index: 2;
  width: 49px;
  opacity: 0.15;
  bottom: 20px;
}

.banner .circle-right_top {
  position: absolute;
  background-color: #1E959B;
  border-radius: 10px 0 0 87px;
  height: 82px;
  z-index: 2;
  width: 82px;
  opacity: 0.15;
  top: 0;
  right: 0;
}

.banner .circle-right_bottom {
  position: absolute;
  background-color: #1E959B;
  border-radius: 117px 117px 5px 5px;
  height: 87px;
  z-index: 2;
  width: 174px;
  opacity: 0.5;
  bottom: 0;
  right: 50%;
  left: 50%;
}

.banner-slider {
  position: relative;
}

.banner-slider button.owl-prev, .banner-slider button.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border: none;
  background: inherit;
}

.banner-slider button.owl-prev {
  left: 5px;
}

.banner-slider button.owl-next {
  right: 5px;
}

.banner-slider button.owl-prev i, .banner-slider button.owl-next i {
  color: #1E959B;
}

.banner-wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../img/images-banner/packground-image.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.banner-wrp-header-date {
  display: block;
  font-weight: 700;
  color: #F05670;
  text-transform: capitalize;
}

.banner-wrp-header-text {
  max-width: 660px;
}

.banner-wrp-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-wrp-img img {
  width: 80% !important;
}

.services {
  margin-bottom: 120px;
  position: relative;
}

.services-wrp {
  position: relative;
}

.services-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.services-list-decoration {
  width: 100%;
  background: #1e959b;
  height: 154px;
  position: relative;
  top: 220px;
}

.services-list-decoration.bottom {
  position: absolute;
  top: 600px;
}

.services-list-item {
  background-color: #fff;
  width: 300px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 5px 10px #1e959b;
  border-radius: 30px;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
  margin-bottom: 90px;
}

.services-list-item_img {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
}

.services-list-item_img_fon {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.services-list-item_img_svg {
  position: absolute;
  left: 33%;
  top: 40px;
}

.services-list-item_headertext {
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  color: #1E959B;
  margin-bottom: 33px;
  padding-top: 132px;
}

.services-list-item .button {
  line-height: 17px;
  text-align: center;
  box-shadow: 0px 5px 10px #1e959b;
  padding: 24px 66px;
  margin-right: 0;
}

.services-list button.owl-prev, .services-list button.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border: none;
  background: inherit;
}

.services-list button.owl-prev {
  left: -5px;
}

.services-list button.owl-next {
  right: -5px;
}

.services-list button.owl-prev i, .services-list button.owl-next i {
  color: #F8FFFF;
}

.submit {
  margin-bottom: 85px;
}

.submit-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.submit-wrp_block {
  max-width: 500px;
}

.submit-wrp_block_headertext {
  margin-top: 0;
  text-align: justify;
  margin-bottom: 20px;
}

.submit-wrp_block_text {
  text-align: justify;
}

.submit-wrp_block_button {
  display: block;
  max-width: 370px;
  margin-top: 40px !important;
  margin: 0 auto;
}

.submit-image {
  margin-right: 115px;
  max-width: 35%;
}

.submit .button {
  font-size: 24px;
  line-height: 30px;
  padding: 37px 57px;
}

.cart {
  margin-top: 70px;
  margin-bottom: 70px;
}

.cart-wrp {
  display: flex;
  justify-content: space-around;
}

.cart-wrp-left {
  background-color: #fff;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 5px 10px #1e959b;
  border-radius: 30px;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
  max-width: 480px;
}

.cart-wrp-left img {
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
}

.cart-wrp-left-block {
  display: flex;
  justify-content: space-around;
  padding: 140px 30px 0;
  text-align: left;
}

.cart-wrp-left-block_1 {
  border-right: 2px solid rgba(30, 149, 155, 0.3);
  box-sizing: border-box;
  padding-right: 20px;
  width: 50%;
  padding-left: 20px;
}

.cart-wrp-left-block_1:last-child {
  border-right: none;
  padding-right: 0;
}

.cart-wrp-left-block_1_text {
  margin-bottom: 11px;
  margin-top: 0;
  height: 40px;
}

.cart-wrp-left-block_1_info {
  font-family: 'gilroy-normal', sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  color: #1E959B;
  font-weight: 700;
  padding-top: 20px;
}

.cart-wrp-left_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 0;
}

.cart-wrp-left_list_item {
  padding-right: 20px;
}

.cart-wrp-left_list_item .cart_svg {
  fill: #1E959B;
  width: 50px;
}

.cart-wrp-left_list_item .cart_svg:hover g {
  opacity: 1;
  transition: all .3s ease;
}

.cart-wrp-left_link {
  display: block;
  color: #1E959B;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 20px;
}

.cart-wrp-left .button {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.cart-wrp-info {
  max-width: 620px;
}

.cart-wrp-info_headertext {
  margin-top: 0;
  margin-bottom: 30px;
}

.footer-desctop_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-desctop_menu_logo img {
  max-width: 15em;
  min-height: 3.75em;
}

.footer-desctop_menu_wrp {
  display: flex;
  align-items: center;
}

.footer-desctop_menu_wrp_block_1 {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}

.footer-desctop_menu_wrp_block_1 a {
  color: #1E959B;
  margin-bottom: 20px;
}

.footer-desctop_menu_wrp_block_2 {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
  font-weight: 700;
}

.footer-desctop_menu_wrp_block_2 a {
  color: #1E959B;
  margin-bottom: 15px;
}

.footer-desctop_menu_wrp_info {
  display: flex;
  max-width: 600px;
  align-items: center;
}

.footer-desctop_menu_wrp_info_img {
  padding-right: 20px;
}

.footer-desctop_menu_wrp_info_text {
  color: #3C3C3C;
}

.footer-desctop_menu_list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer-desctop_menu_list_item {
  padding-right: 30px;
}

.footer-desctop_menu_mobile {
  display: none;
}

.footer-desctop_copyright {
  font-family: 'gilroy-normal', sans-serif;
  width: 100%;
  text-align: center;
  margin: 10px auto 40px;
  color: #3C3C3C;
  opacity: 0.7;
}

.products-headertext {
  text-align: center;
}

.products-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}

.products-info-headertext {
  text-transform: capitalize;
  text-align: center;
}

.products-info-text {
  line-height: 26px;
  color: #1E959B;
  text-align: left;
  margin-bottom: 25px;
}

.products ul, .products li {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;
}

.products ul {
  margin-bottom: 25px;
}

.products li {
  margin: 0 20px;
  color: #1E959B;
  padding: 25px 60px;
  text-align: center;
  border-radius: 5px;
}

.products li.active {
  background-color: #1E959B;
  transition: all .3s ease-in-out;
  color: #F8FFFF;
}

.products li:hover {
  background-color: #1E959B;
  transition: all .3s ease-in-out;
  color: #F8FFFF;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products_list_item {
  display: none;
  width: 25%;
  text-align: center;
  margin: 0 25px 50px;
}

.products_list_item_gallery {
  position: relative;
  background-color: #c7ceda;
  height: 300px;
}

.products_list_item_gallery.style1 {
  overflow: hidden;
}

.products_list_item_gallery.style1:hover .products_list_item_caption {
  transform: translate3d(0, 0, 0);
  bottom: -1px !important;
}

.products_list_item_gallery_img {
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.products_list_item_gallery_img img {
  object-fit: cover;
  display: block;
  max-width: 100%;
  margin: 30px auto;
  transition: all .3s ease-in-out;
}

.products_list_item_gallery:hover img {
  transform: scale(1.1);
}

.products_list_item_caption {
  text-align: center;
  background-color: #1E959B;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: auto;
  right: 0;
  bottom: -1px;
  left: 0;
  width: 100%;
  transition: all .5s ease 0s;
  transform: translate3d(0, 100%, 0);
}

.products_list_item_caption-name {
  display: block;
  padding-top: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 10px;
  color: #F8FFFF;
}

.products_list_item_caption-desc {
  color: #F8FFFF;
  line-height: 20px;
}

@media only screen and (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(24px + (8 + 8 * 0.7) * ((100vw - 320px) / 1440));
  }
}

@media only screen and (max-width: 360px) {
  .wrapper {
    display: none;
  }
  .header-hidden {
    height: 18vh;
  }
  .header-menu-logo {
    margin-left: 0;
  }
  .header-main {
    align-items: baseline;
    flex-wrap: wrap;
    background-image: url("../img/header_picture.png");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: 0 100%;
  }
  .header-main-info {
    margin-top: 0;
  }
  .header-main-info-headtext {
    text-align: center;
    padding: 0 20px;
  }
  .header-main-info-text {
    margin-left: 23px;
    margin-right: 23px;
  }
  .header-main-info-button {
    justify-content: center;
  }
  .header-main-image {
    display: none;
  }
  .header-case {
    padding-bottom: 0;
  }
  .header-case button.owl-prev, .header-case button.owl-next {
    position: absolute;
    top: auto;
    margin-top: 16px;
    border: none;
    background: inherit;
  }
  .header-case button.owl-prev {
    left: 5px;
  }
  .header-case button.owl-next {
    right: 5px;
  }
  .header-case .owl-item img {
    width: 100% !important;
  }
  .header-case button.owl-dot {
    margin-right: 55px;
  }
  .button_desc {
    display: none;
  }
  .advantages {
    text-align: center;
  }
  .advantages-block {
    margin-right: 0;
    margin: 0 60px;
  }
  .advantages-menu {
    display: none;
  }
  .advantages .slick-slider {
    display: block;
  }
  .advantage-block {
    display: none;
  }
  .advantage-block_flex {
    flex-wrap: wrap-reverse;
  }
  .advantage-block_info_header {
    text-align: center;
  }
  .advantage-block_info_text {
    padding: 0 10px;
  }
  .advantage-block_image {
    padding: 0 20px 20px;
  }
  .advantage-block_image .button_mob {
    display: block;
    margin-top: 30px;
  }
  .advantage-block_image img {
    width: 100% !important;
    max-width: 100%;
  }
  .advantage-block.block-active {
    display: none;
  }
  .projects {
    margin-bottom: 0;
  }
  .projects-list {
    display: block;
    position: relative;
  }
  .projects-list-item {
    margin: 0 auto;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .projects-case {
    background-color: initial;
  }
  .projects-case_block {
    margin-left: 0;
    padding-top: 0;
    text-align: center;
  }
  .projects-case_block_headertext, .projects-case_block_text {
    color: #1E959B;
  }
  .projects-case_block_headertext {
    margin-bottom: 10px;
  }
  .projects-case_block_text {
    margin-top: 0;
    font-size: 16px;
  }
  .projects-case_block_button {
    margin: 0 auto;
    margin-top: 50px;
  }
  .projects-case_image {
    display: none;
  }
  .projects-case_mob {
    display: block;
    background-color: #1E959B;
    min-height: 240px;
  }
  .projects-case_mob_image {
    position: absolute;
    top: 235px;
    right: -40px;
  }
  .projects-case_mob_image img {
    max-width: 425px;
  }
  .projects-button {
    max-width: 150px;
  }
  .banner {
    display: none;
  }
  .services-list {
    display: block;
  }
  .services-list-item {
    margin: 0 auto;
    width: 250px;
  }
  .services-list-item_img_svg {
    left: 29%;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .services-list button.owl-prev, .services-list button.owl-next {
    top: 45%;
  }
  .submit-wrp_block_headertext, .submit-wrp_block_text {
    display: none;
  }
  .submit-image {
    max-width: 100%;
    padding-bottom: 55px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-right: 0;
  }
  .submit .button {
    padding: 35px 25px;
  }
  .cart {
    margin-top: 120px;
  }
  .cart-wrp {
    flex-wrap: wrap;
  }
  .cart-wrp-left {
    margin-bottom: 50px;
  }
  .cart-wrp-left img {
    max-width: 200px;
  }
  .cart-wrp-left-block_1 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .cart-wrp-left-block_1:last-child {
    border-right: none;
    padding-right: 0;
  }
  .cart-wrp-info_headertext {
    text-align: center;
    margin: 0 20px 50px;
  }
  .cart-wrp-info_text {
    margin: 0 20px;
    background-color: #1E959B;
    color: #F8FFFF;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .footer-desctop_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    flex-direction: column;
  }
  .footer-desctop_menu_logo {
    display: none;
  }
  .footer-desctop_menu_wrp {
    flex-wrap: wrap;
  }
  .footer-desctop_menu_wrp_block_1, .footer-desctop_menu_wrp_block_2 {
    display: none;
  }
  .footer-desctop_menu_wrp_info {
    padding-top: 35px;
  }
  .footer-desctop_menu_list {
    display: none;
  }
  .footer-desctop_menu_mobile_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_1 a {
    color: #1E959B;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_contactus {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    color: #1E959B;
  }
  .footer-desctop_menu_mobile_block_2 {
    display: flex;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_2 a {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2_list {
    display: flex;
    list-style-type: none;
  }
  .footer-desctop_menu_mobile_block_2_list_item {
    padding-right: 30px;
  }
  .footer-desctop_menu_mobile_block_2_list_item:last-child {
    padding-right: 0;
  }
  .footer-desctop_menu_mobile {
    display: block;
  }
  .footer-desctop_copyright {
    margin-top: 40px;
  }
  .products-headertext {
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
  }
  .products-info-text {
    padding: 0 20px;
    font-size: 17px;
  }
  .products ul {
    flex-wrap: wrap;
  }
  .products ul li {
    margin-bottom: 20px;
    padding: 10px 30px;
  }
  .products_list_item {
    width: 100%;
  }
  .products_list_item_caption {
    transform: translate3d(0, 0, 0);
  }
  .products_list_item_caption-desc {
    margin: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .wrapper {
    display: none;
  }
  .header-menu-logo {
    margin-left: 0;
  }
  .header-main {
    align-items: baseline;
    flex-wrap: wrap;
    background-image: url("../img/header_picture.png");
    background-repeat: no-repeat;
    background-position: 160% 136%;
    background-size: 105%;
  }
  .header-main-info {
    margin-top: 0;
  }
  .header-main-info-headtext {
    text-align: center;
  }
  .header-main-info-text {
    margin-left: 23px;
    margin-right: 23px;
  }
  .header-main-info-button {
    justify-content: center;
  }
  .header-main-image {
    display: none;
  }
  .header-case button.owl-prev, .header-case button.owl-next {
    position: absolute;
    top: auto;
    margin-top: 16px;
    border: none;
    background: inherit;
  }
  .header-case button.owl-prev {
    left: 5px;
  }
  .header-case button.owl-next {
    right: 5px;
  }
  .header-case .owl-item img {
    width: 100% !important;
  }
  .header-case button.owl-dot {
    margin-right: 55px;
  }
  .button_desc {
    display: none;
  }
  .advantages {
    text-align: center;
  }
  .advantages-block {
    margin-right: 0;
    margin: 0 90px;
  }
  .advantages-menu {
    display: none;
  }
  .advantages .slick-slider {
    display: block;
  }
  .advantage-block {
    display: none;
  }
  .advantage-block_flex {
    flex-wrap: wrap-reverse;
  }
  .advantage-block_info_header {
    text-align: center;
  }
  .advantage-block_info_text {
    padding: 0 20px;
  }
  .advantage-block_image {
    padding: 0 20px 20px;
  }
  .advantage-block_image .button_mob {
    display: block;
    margin-top: 30px;
  }
  .advantage-block_image img {
    width: 100% !important;
    max-width: 100%;
  }
  .advantage-block.block-active {
    display: none;
  }
  .projects {
    margin-bottom: 90px;
  }
  .projects-list {
    display: block;
    position: relative;
  }
  .projects-list-item {
    margin: 0 auto;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .projects-case {
    background-color: initial;
  }
  .projects-case_block {
    margin-left: 0;
    padding-top: 0;
    text-align: center;
  }
  .projects-case_block_headertext, .projects-case_block_text {
    color: #1E959B;
  }
  .projects-case_block_headertext {
    margin-bottom: 10px;
  }
  .projects-case_block_text {
    margin-top: 0;
    font-size: 16px;
  }
  .projects-case_block_button {
    margin: 0 auto;
    margin-top: 50px;
  }
  .projects-case_image {
    display: none;
  }
  .projects-case_mob {
    display: block;
    background-color: #1E959B;
    min-height: 240px;
  }
  .projects-case_mob_image {
    position: absolute;
    top: 235px;
    right: -40px;
  }
  .projects-case_mob_image img {
    max-width: 425px;
  }
  .projects-button {
    max-width: 150px;
  }
  .banner {
    display: none;
  }
  .services-list {
    display: block;
  }
  .services-list-item {
    margin: 0 auto;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .submit-wrp_block_headertext, .submit-wrp_block_text {
    display: none;
  }
  .submit-image {
    max-width: 100%;
    padding-bottom: 55px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-right: 0;
  }
  .cart {
    margin-top: 120px;
  }
  .cart-wrp {
    flex-wrap: wrap;
  }
  .cart-wrp-left {
    margin-bottom: 50px;
  }
  .cart-wrp-left img {
    max-width: 200px;
    left: 0;
    right: 0;
  }
  .cart-wrp-info_headertext {
    text-align: center;
    margin: 0 20px 50px;
  }
  .cart-wrp-info_text {
    margin: 0 20px;
    background-color: #1E959B;
    color: #F8FFFF;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .footer-desctop_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    flex-direction: column;
  }
  .footer-desctop_menu_logo {
    display: none;
  }
  .footer-desctop_menu_wrp {
    flex-wrap: wrap;
  }
  .footer-desctop_menu_wrp_block_1, .footer-desctop_menu_wrp_block_2 {
    display: none;
  }
  .footer-desctop_menu_wrp_info {
    padding-top: 35px;
  }
  .footer-desctop_menu_list {
    display: none;
  }
  .footer-desctop_menu_mobile_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_1 a {
    color: #1E959B;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_contactus {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    color: #1E959B;
  }
  .footer-desctop_menu_mobile_block_2 {
    display: flex;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_2 a {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2_list {
    display: flex;
    list-style-type: none;
  }
  .footer-desctop_menu_mobile_block_2_list_item {
    padding-right: 30px;
  }
  .footer-desctop_menu_mobile_block_2_list_item:last-child {
    padding-right: 0;
  }
  .footer-desctop_menu_mobile {
    display: block;
  }
  .footer-desctop_copyright {
    margin-top: 40px;
  }
  .products-headertext {
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
  }
  .products-info-text {
    padding: 0 20px;
    font-size: 17px;
  }
  .products ul {
    flex-wrap: wrap;
  }
  .products ul li {
    margin-bottom: 20px;
    padding: 10px 30px;
  }
  .products_list_item {
    width: 100%;
  }
  .products_list_item_caption {
    transform: translate3d(0, 0, 0);
  }
  .products_list_item_caption-desc {
    margin: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: 481px) and (max-width: 560px) {
  .wrapper {
    display: none;
  }
  .header-menu-logo {
    margin-left: 0;
  }
  .header-main {
    align-items: baseline;
    flex-wrap: wrap;
    background-image: url("../img/header_picture.png");
    background-repeat: no-repeat;
    background-position: 110% 150%;
    background-size: 110%;
  }
  .header-main-info {
    margin-top: 0;
  }
  .header-main-info-headtext {
    text-align: center;
  }
  .header-main-info-text {
    margin-left: 23px;
    margin-right: 23px;
  }
  .header-main-info-button {
    justify-content: center;
  }
  .header-main-image {
    display: none;
  }
  .header-case {
    height: 45vh;
  }
  .header-case button.owl-prev, .header-case button.owl-next {
    position: absolute;
    top: auto;
    margin-top: 16px;
    border: none;
    background: inherit;
  }
  .header-case button.owl-prev {
    left: 5px;
  }
  .header-case button.owl-next {
    right: 5px;
  }
  .header-case .owl-item img {
    width: 100% !important;
  }
  .header-case button.owl-dot {
    margin-right: 55px;
  }
  .button_desc {
    display: none;
  }
  .button_mob {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .advantages {
    text-align: center;
    padding-bottom: 90px;
  }
  .advantages-block {
    margin-right: 0;
    margin: 0 150px;
  }
  .advantages-menu {
    display: none;
  }
  .advantages .owl-carousel {
    display: block;
  }
  .advantage-block {
    display: none;
  }
  .advantage-block_flex {
    flex-wrap: wrap-reverse;
  }
  .advantage-block_info .button_desc {
    display: none;
  }
  .advantage-block_image {
    padding: 0 20px 20px;
  }
  .advantage-block_image .button_mob {
    display: block;
    max-width: 300px;
    margin: 30px auto 0;
  }
  .advantage-block_image img {
    width: 100% !important;
    max-width: 100%;
  }
  .advantage-block.block-active {
    display: none;
  }
  .projects {
    margin-bottom: 90px;
  }
  .projects-list {
    display: block;
    position: relative;
  }
  .projects-list-item {
    margin: 0 auto;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .projects-case {
    background-color: initial;
  }
  .projects-case_block {
    margin-left: 0;
    padding-top: 0;
    text-align: center;
  }
  .projects-case_block_headertext, .projects-case_block_text {
    color: #1E959B;
  }
  .projects-case_block_headertext {
    margin-bottom: 10px;
  }
  .projects-case_block_text {
    margin-top: 0;
    font-size: 16px;
  }
  .projects-case_block_button {
    margin: 0 auto;
    margin-top: 50px;
  }
  .projects-case_image {
    display: none;
  }
  .projects-case_mob {
    display: block;
    background-color: #1E959B;
    min-height: 240px;
  }
  .projects-case_mob_image {
    position: absolute;
    top: 235px;
    right: -40px;
  }
  .projects-case_mob_image img {
    max-width: 425px;
  }
  .banner {
    display: none;
  }
  .services-list {
    display: block;
  }
  .services-list-item {
    margin: 0 auto;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .submit-wrp_block_headertext, .submit-wrp_block_text {
    display: none;
  }
  .submit-image {
    max-width: 100%;
    padding-bottom: 55px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-right: 0;
  }
  .cart {
    margin-top: 120px;
  }
  .cart-wrp {
    flex-wrap: wrap;
  }
  .cart-wrp-left {
    margin-bottom: 50px;
  }
  .cart-wrp-left img {
    max-width: 200px;
    left: 0;
    right: 0;
  }
  .cart-wrp-info_headertext {
    text-align: center;
    margin: 0 20px 50px;
  }
  .cart-wrp-info_text {
    margin: 0 20px;
    background-color: #1E959B;
    color: #F8FFFF;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .footer-desctop_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    flex-direction: column;
  }
  .footer-desctop_menu_logo {
    display: none;
  }
  .footer-desctop_menu_wrp {
    flex-wrap: wrap;
  }
  .footer-desctop_menu_wrp_block_1, .footer-desctop_menu_wrp_block_2 {
    display: none;
  }
  .footer-desctop_menu_wrp_info {
    padding-top: 35px;
  }
  .footer-desctop_menu_list {
    display: none;
  }
  .footer-desctop_menu_mobile_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_1 a {
    color: #1E959B;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_contactus {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    color: #1E959B;
  }
  .footer-desctop_menu_mobile_block_2 {
    display: flex;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_2 a {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2_list {
    display: flex;
    list-style-type: none;
  }
  .footer-desctop_menu_mobile_block_2_list_item {
    padding-right: 30px;
  }
  .footer-desctop_menu_mobile_block_2_list_item:last-child {
    padding-right: 0;
  }
  .footer-desctop_menu_mobile {
    display: block;
  }
  .footer-desctop_copyright {
    margin-top: 40px;
  }
  .products-headertext {
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
  }
  .products-info-text {
    padding: 0 20px;
    font-size: 17px;
  }
  .products ul {
    flex-wrap: wrap;
  }
  .products ul li {
    margin-bottom: 20px;
    padding: 10px 30px;
  }
  .products_list_item {
    width: 100%;
  }
  .products_list_item_caption {
    transform: translate3d(0, 0, 0);
  }
  .products_list_item_caption-desc {
    margin: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: 560px) and (max-width: 768px) {
  .header-menu-logo {
    margin-left: 0;
  }
  .header-menu .wrapper {
    display: none;
  }
  .header-main {
    align-items: baseline;
    flex-wrap: wrap;
    background-image: url("../img/header_picture.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 70%;
  }
  .header-main-info {
    max-width: 500px;
    margin-top: 0;
  }
  .header-main-info-button {
    margin: 120px auto 0;
    justify-content: center;
  }
  .header-main-info-headtext {
    text-align: center;
  }
  .header-main-info-text {
    margin-left: 23px;
    margin-right: 23px;
  }
  .header-main-image {
    display: none;
  }
  .header-case .owl-item img {
    width: 100% !important;
  }
  .header-case-item img {
    width: 100% !important;
  }
  .header-case button.owl-prev {
    left: 5%;
  }
  .header-case button.owl-next {
    right: 5%;
  }
  .services-list {
    display: block;
  }
  .services-list-item {
    margin: 0 auto;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .advantages .slick-slider {
    display: none;
  }
  .advantages-slider button.owl-prev {
    left: -5px;
  }
  .advantages-slider button.owl-next {
    right: -5px;
  }
  .advantage-block_flex {
    flex-wrap: wrap-reverse;
  }
  .advantage-block_info_header {
    text-align: center;
  }
  .advantage-block_info .button_desc {
    display: none;
  }
  .advantage-block_info_text {
    padding: 0 20px;
  }
  .advantage-block_image .button_mob {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  .banner {
    display: none;
  }
  .cart-wrp {
    flex-wrap: wrap;
  }
  .cart-wrp-left {
    margin-bottom: 50px;
  }
  .cart-wrp-info_headertext {
    margin: 0 25px;
    text-align: center;
  }
  .cart-wrp-info_text {
    text-align: left;
    background-color: #1E959B;
    color: #F8FFFF;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .projects-case {
    background: #F8FFFF;
  }
  .projects-case_image {
    display: none;
  }
  .projects-case_block {
    margin-left: inherit;
    margin-left: 0;
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
  }
  .projects-case_block_headertext, .projects-case_block_text {
    color: #1E959B;
  }
  .projects-case_block_headertext {
    margin-bottom: 10px;
  }
  .projects-case_block_text {
    font-size: 16px;
    margin-top: 0;
  }
  .projects-case_block_button {
    margin: 0 auto;
    margin-top: 50px;
  }
  .projects-case_mob {
    display: block;
    background-color: #1E959B;
    min-height: 250px;
  }
  .projects-case_mob_image {
    position: absolute;
    top: 245px;
    right: -40px;
  }
  .projects-case_mob_image img {
    max-width: 420px;
  }
  .projects-list {
    display: block;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .submit-image {
    width: 100%;
    padding-bottom: 55px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-right: 0;
  }
  .submit-wrp_block {
    text-align: center;
  }
  .footer-desctop_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    flex-direction: column;
  }
  .footer-desctop_menu_logo {
    display: none;
  }
  .footer-desctop_menu_mobile {
    display: block;
  }
  .footer-desctop_menu_mobile_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_1 a {
    color: #1E959B;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2 {
    display: flex;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_2 a {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2_list {
    display: flex;
    list-style-type: none;
  }
  .footer-desctop_menu_mobile_block_2_list_item {
    padding-right: 30px;
  }
  .footer-desctop_menu_mobile_contactus {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    color: #1E959B;
  }
  .footer-desctop_menu_wrp {
    flex-wrap: wrap;
  }
  .footer-desctop_menu_wrp_block_1, .footer-desctop_menu_wrp_block_2 {
    display: none;
  }
  .footer-desctop_menu_wrp_info {
    margin: 0 auto;
  }
  .footer-desctop_menu_list {
    display: none;
  }
  .products-info-text {
    padding: 0 20px;
  }
  .products_list_item {
    width: 100%;
  }
  .products_list_item_caption {
    transform: translate3d(0, 0, 0);
  }
  .products_list_item_caption-desc {
    margin: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .slick-slider {
    display: none;
  }
  .header-menu-logo {
    margin-left: 0;
  }
  .header-menu .wrapper {
    display: none;
  }
  .header-main-image img {
    max-width: 500px;
  }
  .header-case .owl-item img {
    width: 80% !important;
  }
  .header-case button.owl-prev {
    left: 5%;
  }
  .header-case button.owl-next {
    right: 5%;
  }
  .cart {
    margin-top: 120px;
  }
  .cart-wrp {
    flex-wrap: wrap;
  }
  .cart-wrp-left {
    margin-bottom: 50px;
  }
  .cart-wrp-info {
    max-width: 100%;
  }
  .cart-wrp-info_headertext {
    margin: 0 25px;
    text-align: center;
  }
  .cart-wrp-info_text {
    text-align: left;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .projects-case_block {
    margin-left: 50px;
  }
  .projects-list {
    display: block;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .services-list {
    display: block;
  }
  .services-list-item {
    margin: 0 auto;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .submit-wrp {
    flex-wrap: nowrap;
  }
  .submit-wrp_block_button {
    margin: 0;
  }
  .submit-image {
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-wrp .container-fluid {
    margin: 20px 50px;
    align-items: center;
  }
  .footer-desctop_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    flex-direction: column;
  }
  .footer-desctop_menu_logo {
    display: none;
  }
  .footer-desctop_menu_mobile {
    display: block;
  }
  .footer-desctop_menu_mobile_block_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_1 a {
    color: #1E959B;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2 {
    display: flex;
    justify-content: space-around;
  }
  .footer-desctop_menu_mobile_block_2 a {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-desctop_menu_mobile_block_2_list {
    display: flex;
    list-style-type: none;
  }
  .footer-desctop_menu_mobile_block_2_list_item {
    padding-right: 30px;
  }
  .footer-desctop_menu_mobile_contactus {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    color: #1E959B;
  }
  .footer-desctop_menu_wrp {
    flex-wrap: wrap;
  }
  .footer-desctop_menu_wrp_block_1, .footer-desctop_menu_wrp_block_2 {
    display: none;
  }
  .footer-desctop_menu_wrp_info {
    margin: 0 auto;
  }
  .footer-desctop_menu_list {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .slick-slider {
    display: none;
  }
  .header-main-image img {
    max-width: 350px;
  }
  .header-case .owl-item img {
    width: 60% !important;
  }
  .header-case button.owl-next {
    right: 230px;
  }
  .header-case button.owl-prev {
    left: 230px;
  }
  .cart-wrp-info {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer-desctop_menu {
    justify-content: space-between;
  }
  .footer-desctop_menu_logo {
    margin-left: 1rem;
  }
  .services-list {
    display: block;
  }
  .services-list-item {
    margin: 0 auto;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .banner-wrp {
    padding: 60px 0;
  }
  .banner-wrp-header-text {
    max-width: 440px;
  }
  .projects-case_block {
    margin-left: 50px;
  }
  .projects-list {
    display: block;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .slick-slider {
    display: none;
  }
  .header-main-image img {
    max-width: 390px;
  }
  .header-case .owl-item img {
    width: 40% !important;
  }
  .services-list {
    display: block;
    position: relative;
  }
  .services-list-item {
    max-width: 300px;
    margin: 0 auto;
  }
  .services-list-decoration.bottom {
    display: none;
  }
  .projects-case_block {
    margin-left: 100px;
  }
  .projects-list {
    display: block;
  }
  .projects-list-item:last-child {
    margin: auto;
  }
  .projects-mob_img {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (min-width: 1441px) and (max-width: 3840px) {
  .slick-slider {
    display: none;
  }
  html {
    font-size: calc(30px + 15 * ((100vw - 2560px) / 4096));
  }
  .container {
    max-width: 2560px;
  }
  p, a {
    font-size: calc(20px + 14 * ((100vw - 2560px) / 4096));
    line-height: 25px;
  }
  .button {
    letter-spacing: 1px;
    font-weight: normal;
  }
  .products-info-text {
    line-height: 30px;
  }
  .header {
    height: 100vh;
  }
  .header-main {
    justify-content: space-around;
  }
  .header-main-info {
    max-width: 60%;
  }
  .header-main-image {
    max-width: 30%;
  }
  .header-main-image img {
    width: 100%;
  }
  .header-companies {
    height: 20vh;
  }
  .header-case {
    height: 80vh;
  }
  .header-case .owl-item img {
    width: 40% !important;
  }
  .advantages-block {
    width: 15%;
    margin-right: 20px;
  }
  .advantages-block-img {
    width: 40%;
  }
  .advantage-block_image {
    max-width: 30%;
  }
  .advantage-block_info {
    max-width: 30%;
  }
  .projects-list-item {
    max-width: 25%;
    margin-right: 40px;
  }
  .projects-list-item:nth-child(3), .projects-list-item:last-child {
    margin-right: 0;
  }
  .projects-button {
    max-width: 300px;
  }
  .projects-case_block {
    margin-left: 150px;
  }
  .projects-case_block_button {
    max-width: 80%;
  }
  .projects-case .owl-item img {
    width: 40% !important;
  }
  .banner {
    align-items: center;
  }
  .banner .container-fluid {
    width: 100%;
    justify-content: center;
  }
  .banner-wrp {
    min-height: 600px;
  }
  .banner-wrp-header-text {
    padding-right: 30px;
  }
  .banner-wrp-img {
    min-width: 700px;
  }
  .services-list-item {
    width: 23%;
  }
  .services-list-item_img_circle {
    width: 230px;
    height: 230px;
  }
  .services-list-item_img_svg {
    width: 100%;
    left: 0;
    height: 142px;
  }
  .services-list-item_headertext {
    padding-top: 200px;
    min-height: 60px;
  }
}

@media (min-width: 1441px) and (max-width: 3840px) and (max-width: 767px) {
  .services-list-item_headertext {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 1441px) and (max-width: 3840px) and (min-width: 767px) {
  .services-list-item_headertext {
    font-size: calc(24px + 8 * (100vw / 1440));
  }
}

@media (min-width: 1441px) and (max-width: 3840px) {
  .services-list-decoration {
    height: 180px;
    top: 285px;
  }
  .services-list-decoration.bottom {
    top: 780px;
  }
  .cart-wrp-left {
    max-width: 50%;
    width: 25%;
  }
  .cart-wrp-info {
    max-width: 50%;
  }
  .submit-wrp_block {
    max-width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */